body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2a2b38;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px; /* Adjust width as needed */
    padding: 40px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
}

.title {
    font-size: 36px; /* Increase font size */
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: #00bfff;
}

.title::before {
    width: 24px; /* Increase size */
    height: 24px; /* Increase size */
}

.title::after {
    width: 24px; /* Increase size */
    height: 24px; /* Increase size */
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 20px; /* Increase size */
    width: 20px; /* Increase size */
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.message, 
.signin {
    font-size: 16px; /* Increase font size */
    color: rgba(255, 255, 255, 0.7);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 15px; /* Adjust padding */
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 15px; /* Adjust left padding */
    top: 0px;
    font-size: 1em; /* Adjust font size */
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 17px; /* Adjust top padding */
    font-size: 1em; /* Adjust font size */
}

.form label .input:focus + span,
.form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 15px; /* Adjust padding */
    border-radius: 10px;
    color: #fff;
    font-size: 20px; /* Increase font size */
    transform: .3s ease;
    background-color: #00bfff;
}

.submit:hover {
    background-color: #00bfff96;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
